<section class="relative header min-h-screen overflow-hidden bg-cover bg-center" id="skills"
         style="background-image: url('/bg/bg-skills1920x1080.jpg');">
  <div class="absolute inset-0 bg-black bg-opacity-20 backdrop-blur-sm"></div>
  <div class="relative container py-[100px] mx-auto px-4">
    <h2 class="font-pangolin text-center text-4xl font-bold text-gray-800">TECH SKILLS</h2>
    <div class="grid-container grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
      <article>

      </article>
    </div>
  </div>
</section>
