<nav class="fixed top-0 right-0 left-0 bg-black bg-opacity-60 z-10">
  <div class="relative container mx-auto px-4 flex items-center justify-between text-white">
    <div>
      <img alt="logo" class="h-10 md:h-12" src="/logos/AG_logo_150x100_golden.png">
    </div>

    <div class="flex md:hidden w-full justify-end">
      <button (click)="mobileMenuService.toggleMobileMenu()" class="text-white focus:outline-none">
        <!-- Меню закрыто - иконка гамбургера -->
        <svg *ngIf="!mobileMenuService.isMobileMenuOpen" class="h-8 w-8" fill="none" stroke="currentColor" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
          <path d="M4 6h16" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
          <path d="M4 12h16" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
          <path d="M4 18h16" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
        </svg>

        <!-- Меню открыто - иконка крестика -->
        <svg *ngIf="mobileMenuService.isMobileMenuOpen" class="h-8 w-8" fill="none" stroke="currentColor" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
          <path d="M6 6L18 18" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
          <path d="M6 18L18 6" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
        </svg>
      </button>
    </div>

    <div>
      <ul class="hidden md:flex items-center space-x-8">
        <li *ngFor="let item of menuItems">
          <a (click)="smoothScrollService.scrollToSection(item.sectionID)"
             class="font-pangolin text-xl -mt-4 hover:text-shadow-strong duration-200 hover:cursor-pointer">
            <i *ngIf="item.icon" [ngClass]="item.icon"></i>{{ item.label }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--<ul *ngIf="mobileMenuService.isMobileMenuOpen"-->
<!--    class="absolute p-6  top-20  -right-16 text-xl -left-16 font-pangolin bg-black bg-opacity-60 h-auto flex flex-col md:hidden items-center gap-6">-->
<!--  <li *ngFor="let item of menuItems">-->
<!--    <a (click)="smoothScrollService.scrollToSection(item.sectionID)">-->
<!--      <i *ngIf="item.icon" [ngClass]="item.icon"></i> {{ item.label }}</a>-->
<!--  </li>-->
<!--</ul>-->
