<section class="section relative min-h-screen bg-cover bg-center overflow-hidden" id="about"
         style="background-image: url('/bg/bg-about1920x1080.jpg');">
  <div class="absolute inset-0 bg-white bg-opacity-10 backdrop-blur-sm"></div>

  <div class="relative py-[100px] container mx-auto px-4 md:px-12 max-w-screen-xl flex flex-col gap-10">

    <div class="flex flex-col lg:flex-row justify-between items-start gap-28">
      <!-- Блок с текстом обо мне -->
      <div (inViewport)="onInViewport(1, $event)"
           [@fadeInLeftTop]="blockStates[1]"
           appInViewport
           class="w-full lg:w-3/4 flex items-center order-last lg:order-first">
        <div class="w-full lg:text-left bg-white bg-opacity-70 p-6 rounded-lg shadow-xl">
          <h2 class="text-xl md:text-2xl lg:text-4xl font-bold mb-6 text-gray-700 font-pangolin">Обо мне</h2>
          <p class="text-md md:text-lg lg:text-xl text-gray-600 leading-relaxed">Привет! Меня зовут Анатолий, и я фронтенд-разработчик с
            опытом более года. Я люблю создавать современные и отзывчивые веб-интерфейсы, используя HTML, CSS, JavaScript, TypeScript,
            Angular и многое другое. Творческий подход и современные технологии позволяют мне улучшать пользовательский опыт и разрабатывать
            решения, которые делают взаимодействие с веб-приложениями комфортным.
          </p>
        </div>
      </div>

      <!-- Блок с фото и кнопками -->
      <div (inViewport)="onInViewport(2, $event)"
           [@fadeInRightTop]="blockStates[2]"
           appInViewport
           class="w-full lg:w-1/4 flex flex-col items-center lg:justify-center">
        <img alt="Анатолий Сысоенко"
             class="w-64 h-auto md:w-80 max-w-full rounded-full shadow-lg transition-transform duration-300 hover:scale-110"
             src="/img/profile-photo.png">
        <div class="mt-6 flex flex-col gap-4 w-full items-center ">
          <a (click)="modalService.toggleModal('contacts')"
             class="uppercase min-w-[220px] bg-black bg-opacity-40 hover:bg-hoverColor  text-white  text-center py-2 px-6 rounded-md transition-colors duration-200">
            <i class="fa-solid fa-phone mr-3"></i>Mои контакты
          </a>
          <a
            class="uppercase min-w-[220px] bg-black bg-opacity-40 hover:bg-hoverColor text-white text-center py-2 px-6 rounded-md transition-colors duration-200"
            href="https://www.linkedin.com/in/anatoliy-sysoienko-5a2029252/overlay/1635513333797/single-media-viewer/?profileId=ACoAAD5LwgoB8NnV7Zr1Pdet1e4FRczZhm3KTQ8"
            target="_blank"><i class="fa-solid fa-hand-point-right mr-3"></i>Полное резюме
          </a>
        </div>
      </div>
    </div>

    <div class="flex flex-col lg:flex-row justify-between gap-10">
      <!-- Блок с сертификатом -->
      <div (inViewport)="onInViewport(3, $event)"
           [@fadeInLeftBottom]="blockStates[3]"
           appInViewport
           class="w-full items-center lg:w-1/3 flex justify-center">
        <img (click)="openCertificateModal()"
             alt="Сертификат об окончании курсов"
             class="w-auto h-auto rounded-lg shadow-lg cursor-pointer transition-transform duration-300 hover:scale-110"
             src="/img/certificate.jpg">
      </div>

      <!-- Модальное окно с сертификатом -->
      <div (click)="closeCertificateModal()" *ngIf="isCertificateOpen"
           class=" fixed inset-0 flex items-center justify-center z-20">
        <div (click)="$event.stopPropagation()" class=" relative bg-white rounded-lg p-4">
          <img alt="Сертификат об окончании курсов" class="modal-image max-w-full h-auto" src="/img/certificate.jpg"/>
          <button (click)="closeCertificateModal()" class="absolute -top-2 right-1 text-gray-600 text-3xl">&times;</button>
        </div>
      </div>
      <!-- Блок с текстом об образовании -->
      <div (inViewport)="onInViewport(4, $event)"
           [@fadeInRightBottom]="blockStates[4]"
           appInViewport
           class="w-full lg:w-2/3 flex items-center lg:pl-8">
        <div class="w-full text-center md:text-left bg-white p-6 rounded-lg shadow-xl">
          <h2 class="text-xl md:text-2xl lg:text-4xl font-bold mb-4 text-gray-700 font-pangolin">Профильное образование</h2>
          <p class="text-md md:text-lg lg:text-xl text-gray-600 font-normal leading-relaxed">
            Я успешно завершил курсы по фронтенд-разработке, где изучил основные аспекты веб-разработки, включая HTML, CSS, JavaScript, а
            также современные инструменты и фреймворки, такие как Angular и TypeScript. Этот сертификат подтверждает мои навыки и знания,
            которые я применяю на практике, создавая современные и интерактивные веб-приложения.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

